<script defer src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>

<html>
    <title>Login</title>
        <body>
            <form action="/admin" method="GET">
                <input type="submit" value="Admin Page">
            </form>             
        </body>
</html>
